.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: auto;
    gap: 10px;
  }
  
  .sliderFrame {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    background-color: white;
    align-content: center;
  }
  
  .sliderTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .slide {
    min-width: 100%;
    height: 100%;
   margin-top: 40px;
    align-items: center;
    justify-content: center;
  }
  .showroomName{
    font-size: 24px;
    color: #000;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .logoImg {
    max-width: 40%;
    max-height: 50%;
    object-fit: contain;
  }
  
  .arrow {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #444;
    transition: color 0.3s ease;
  }
  
  .arrow:hover {
    color: #000;
  }
  