@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.contentCard {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  width: 100%;
  padding-bottom: 392px;
}

.imageContainer {
  border-radius: 30px;
  background-color: rgba(248, 248, 248, 1);
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  display: flex;
  margin-bottom: -78px;
  width: 100%;
  padding: 1px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.image {
  aspect-ratio: 9.62;
  object-fit: contain;
  object-position: center;
  width: 597px;
  border-radius: 15px;
  max-width: 100%;
}

.actionButtonsContainer {
  align-self: center;
  display: flex;
  margin-top: 78px;
  width: 100%;
  max-width: 898px;
  align-items: stretch;
  gap: 16px;
  font-family:
    "Inter",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 28px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  white-space: nowrap;
  line-height: 1;
  flex-wrap: wrap;
}

.draftButton {
  border-radius: 4px;
  background-color: rgba(35, 113, 226, 1);
  padding: 9px 70px 16px;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.submitButton {
  border-radius: 4px;
  background-color: rgba(45, 200, 168, 1);
  padding: 9px 66px 19px;
  font-size: 24px;
  line-height: 1;
  border: none;
  color: white;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.rejectButton {
  border-radius: 4px;
  background-color: rgba(207, 33, 41, 1);
  padding: 10px 68px;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.backButton {
  border-radius: 4px;
  background-color: rgba(102, 112, 133, 1);
  padding: 9px 70px 17px;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

@media (max-width: 991px) {
  .contentCard {
    max-width: 100%;
    padding-bottom: 100px;
  }

  .imageContainer {
    max-width: 100%;
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .actionButtonsContainer {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }

  .draftButton,
  .submitButton,
  .rejectButton,
  .backButton {
    padding-left: 20px;
    padding-right: 20px;
    white-space: initial;
  }
}
