.page {
  min-height: 100vh;
  background-color: #f9fafb; /* bg-gray-50 */
  padding: 1.5rem; /* p-6 */
}

.container {
  max-width: 80rem; /* max-w-7xl */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* space-y-6 */
}
.displayShowroom{
  display: flex;
  width: 60%;
  gap:30px;

}
.select {
 
  
  border: 1px solid #eaeef4;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700;
  color: #0f172a; /* text-slate-800 */
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem; /* gap-6 */
}

@media (min-width: 1024px) {
  .gridTwoCols {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  padding: 1.5rem;
}

.cardTitle {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600;
  color: #334155; /* text-slate-700 */
  margin-bottom: 1rem;
}
