@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body{
  background-color: #f6fafd;
}
.container {
  
  width: 80%;
  margin: 0 auto;
  margin-top:80px;
  padding: 32px;
  font-family: "Inter", sans-serif;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #092c4c;
}

.backButton {
  display: flex;
  align-items: center;
  color: #4318d1;
  font-size: 16px;
  cursor: pointer;
}

.backIcon {
  margin-right: 8px;
}

.formContainer {
  border: 1px solid #eaeef4;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.formGroup {
  flex: 1;
  margin-right: 24px;
}

.formGroup:last-child {
  margin-right: 0;
}

.label {
  display: block;
  font-size: 14px;
  color: #344054;
  margin-bottom: 8px;
}

.inputField {
  width: 95%;
  height: 26px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  color: #000;
  background-color: #f9fafb;
}

.statusOptions {
  display: flex;
  gap: 16px;
}

.statusOption {
  font-size: 14px;
  color: #344054;
  cursor: pointer;
}

.statusActive {
  font-weight: bold;
  color: #4318d1;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 32px;
}

.cancelButton {
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #d0d5dd;
  color: #344054;
  background-color: transparent;
}

.createButton {
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #4318d1;
  border: none;
}

/* Media Queries */
@media (max-width: 991px) {
  .container {
    max-width: 991px;
  }

  .formRow {
    flex-direction: column;
  }

  .formGroup {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .cancelButton,
  .createButton {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .backButton {
    margin-top: 16px;
  }

  .formContainer {
    padding: 16px;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .cancelButton,
  .createButton {
    width: 100%;
  }
}
