.body{
  background-color: #f6fafd;
}
.container {
  margin: 0 auto;
  width: 80%;
  margin-top:80px;
  padding: 48px;
  box-sizing: border-box;
  background-color: #f6fafd;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #092c4c;
}

.circleIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #eaeef4;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dateFilterRow {
  display: flex;
  align-items: center;
  gap: 24px;
}

.dateLabel {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #363565;
}

.inputWrapper {
  
  position: relative;
  width: 600px;
}

.dateInput {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  border: 1px solid rgba(151, 150, 153, 0.24);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff;
}

.calendarIconWrapper {
  position: absolute;
  right: 16px;
  top: 13px;
}

.calendarIcon {
  width: 24px;
  height: 24px;
}

.showroomSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.showroomLabel {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #363565;
}

.selectWrapper {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid rgba(151, 150, 153, 0.24);
}

.selectText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.dropdownIconWrapper {
  position: absolute;
  right: 16px;
}

.dropdownIcon {
  width: 24px;
  height: 24px;
}

.buttonGroup {
  display: flex;
  gap: 16px;
}

.resetButton {
  width: 90px;
  height: 42px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #cf2129;
  border: none;
}

.printButton {
  width: 83px;
  height: 42px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #4318d1;
  border: none;
}

/* Media Queries */
@media (max-width: 991px) {
  .container {
    max-width: 991px;
    padding: 24px;
  }

  .inputWrapper {
    width: 100%;
  }

  .selectWrapper {
    width: 100%;
  }

  .dateFilterRow {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .dateFilterRow {
    gap: 16px;
  }

  .buttonGroup {
    flex-direction: column;
    gap: 8px;
  }
}
