.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #363565;
  margin-bottom: 32px;
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.formGroup {
  flex: 1;
  margin-right: 16px;
}

.label {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #363565;
  margin-bottom: 8px;
}

.input {
  width: 96%;
  padding: 12px;
  border: 1px solid #e3e8ef;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
}

.selectField {
  position: relative;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #e3e8ef;
}

.selectText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
}

.dropdownIconWrapper {
  display: flex;
  align-items: center;
}

.dropdownIcon {
  width: 11px;
  height: 11px;
  stroke: #000;
}

.dateInputWrapper {
  position: relative;
}

.calendarIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #7e92a2;
  pointer-events: none;
}

.remarksGroup {
  flex: 1;
  margin-right: 16px;
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e3e8ef;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
  height: 100px;
  resize: none;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.cancelButton {
  width: 105px;
  height: 42px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #e3e8ef;
  color: #363565;
  background: none;
  margin-right: 16px;
}

.submitButton {
  width: 105px;
  height: 42px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #4318d1;
}

/* Media Queries */
@media (max-width: 991px) {
  .container {
    max-width: 991px;
  }

  .formRow {
    flex-direction: column;
  }

  .formGroup {
    margin-bottom: 16px;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: flex-end;
  }

  .cancelButton {
    margin-bottom: 16px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
    padding: 16px;
  }

  .title {
    font-size: 20px;
  }

  .label {
    font-size: 12px;
  }

  .input,
  .selectField,
  .textarea {
    padding: 8px;
  }

  .selectText {
    font-size: 14px;
  }

  .buttonGroup {
    align-items: stretch;
  }

  .cancelButton,
  .submitButton {
    width: 100%;
  }
}
