
.container {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

.contentWrapper {
  padding: 48px;
}

.header {
  display: flex;

  align-items: stretch;
  gap: 20px;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  color: rgba(9, 44, 76, 1);
  font-size: 24px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
