@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto:wght@400;700&family=Inter&display=swap");

.container {
  background-color: rgba(246, 250, 253, 1);
  width: 100%;
  overflow: hidden;
}

.contentWrapper {

  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 37px 36px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 80px;
}

.card {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  width: 100%;
  padding: 36px 0;
  flex-direction: column;
  align-items: stretch;
}
.cardContent{
  width: 96%;
  margin: auto;
}



.headerSection {
  display: flex;
  gap: 20px;
  max-width: 811px;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 21%;
  font-family:
    Poppins,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  color: rgba(54, 53, 101, 1);
  font-weight: 700;
}

.title {
  color: rgba(9, 44, 76, 1);
  font-size: 24px;
  align-self: flex-start;
}

.cashSaleLabel {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  text-align: center;
  align-self: center;
  margin-top: 44px;
}

.vehicleDetailsLabel {
  font-size: 20px;
  font-family:
    Roboto,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  margin-top: 53px;
}

.makeLabel {
  font-family:
    Roboto,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  align-self: flex-start;
  margin-top: 24px;
}

.columnRight {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 79%;
  margin-left: 20px;
  margin-top: 43px;
  font-family:
    Roboto,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.tabsContainer {
  display: flex;
  align-items: stretch;
  gap: 16px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  flex-wrap: wrap;
}

.tab {
  border-radius: 4px;
  background-color: rgba(243, 244, 246, 1);
  padding: 12px 32px;
  cursor: pointer;
}

.activeTab {
  background-color: rgba(45, 200, 168, 1);
  color: rgba(255, 255, 255, 1);
}

.modelLabel {
  color: rgba(54, 53, 101, 1);
  align-self: center;
  margin-top: 120px;
  margin-left: 51px;
}

.formRow {
  display: flex;
  margin-top: 8px;
  align-items: stretch;
  gap: 22px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  flex-wrap: wrap;
}


.formLabelRow {
  display: flex;
  margin-top: 24px;
  max-width: 734px;
  align-items: stretch;
  gap: 20px;
  font-family:
    Roboto,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  color: rgba(54, 53, 101, 1);
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formLabel {
  flex: 1;
}

.actionButtons {
  align-self: flex-end;
  display: flex;
  margin-top: 41px;
  margin-right: 32px;
  align-items: stretch;
  gap: 16px;
  font-family:
    Poppins,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.processButton {
  border-radius: 4px;
  background-color: rgba(26, 213, 152, 1);
  padding: 12px 24px;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}

.cancelButton {
  border-radius: 4px;
  background-color: rgba(243, 244, 246, 1);
  padding: 12px 24px;
  color: rgba(9, 44, 76, 1);
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .contentWrapper {
    max-width: 100%;
    padding: 37px 20px;
  }

  .card {
    max-width: 100%;
  }

  .cardContent {
    max-width: 100%;
    padding: 0 20px;
  }

  .headerSection {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .columnLeft {
    width: 100%;
    margin-left: 0;
  }

  .columnRight {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    max-width: 100%;
  }

  .cashSaleLabel,
  .vehicleDetailsLabel,
  .modelLabel {
    margin-top: 40px;
  }

  .tab {
    padding: 12px 20px;
    white-space: initial;
  }

  .inputField {
    max-width: 100%;
    padding-right: 20px;
    white-space: initial;
  }

  .actionButtons {
    margin-right: 10px;
    margin-top: 40px;
  }

  .processButton,
  .cancelButton {
    padding: 12px 20px;
  }

  .cancelButton {
    white-space: initial;
  }
}


